body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header {
  background-color: blue;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table{
	margin-top: 170px;
    border:1px solid black;    
}
#main{
	width: 750px;

}
th,tr{
	border: 1px solid black;
}
th{
	background-color: #3182f6;
	color: white;
	border-bottom-color: white;
	text-align: center;
	vertical-align : middle;
}
td{
	padding: 10px;
}

a{

	box-sizing: content-box;
}

#btn_area{
	box-sizing: content-box;
}

textarea{
	border: none;
	width: 598px;
	height: 103px;
	
}

textarea:hover{
	transition: 1s;
}

.hidden{
    display: none;
}

/* 실패 액션 */
.falseAction {
  animation: falseAction 1s forwards;
}

@keyframes falseAction {
  10% {
    transform: translateX(1px);
  }
  20% {
    transform: translateX(-1px);
  }
  30% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
  70% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  90% {
    transform: translateX(-1px);
  }
}


