<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>커뮤니티</title>
	<link rel="icon" th:href="@{/main/images/logo.png}" type="image/x-icon"> 
</head>
<link rel="stylesheet" th:href="@{/main/css/common.css}">
<link rel="stylesheet" th:href="@{/main/css/sub.css}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/cboard/boardlist/css/boardlist.css}">
<script src="https://kit.fontawesome.com/81ba6ca618.js" crossorigin="anonymous"></script>

<body>

	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap">
		<div class="sub-inner">
			<div class="sub-tit">
				<h2>여행, 예약부터<br> 막막하다면?<br> <strong>오시오!</strong></h2>
			</div><!--.sub-tit-->
			<div class="depth2-wrap">
				<ul class="depth2 sub-nav">
					<li><div name="topic" class="topic">전체</div></li>
					<li><div name="topic" class="topic">궁금해요</div></li>
					<li><div name="topic" class="topic">얼마에요</div></li>
					<li><div name="topic" class="topic">함께해요</div></li>
				</ul>
			</div>
			<!-- 글쓰기 버튼 배치하는 테이블 -->
			<div class="option_area">
				<div class="write">
					<a class="write_button" onclick="return loginUserHandler()" th:href="@{/Cboard/write}">글쓰기</a>
					<img src="/boardlist/css/writeimg.jpg" alt="" srcset="">
				</div>
			</div>
	
			<article>
				<ul class="list">
					<li th:if="${list != null and list.size()>0}" th:each="board : ${list}" class="addList">
						<a th:href="@{get?(boardNum=${board.boardNum})}">
							<div class="topic_category">[[${board.topic}]] [[${board.category}]]</div>
							<!-- <img  class="img_test" th:src="@{/hong/join_business_Page/img/main_visual02.jpg}" alt="" srcset=""> -->
							<div class="main_title">[[${board.boardTitle}]]</div>
							<div class="main_content"
								th:text="${#strings.length(board.boardContents) > 30 ? #strings.substring(board.boardContents, 0, 30) + '...' : board.boardContents}">
							</div>
							<div class="user">[[${board.userId}]]</div>
							<div class="read_cnt_area">
								<div class="read_cnt">[[${board.readCount}]]</div>
								<div class="regDate">[[${board.regDate}]]</div>
							</div>
						</a>
						<hr>
					</li>
					<li th:if="${list == null or list.size() == 0}">
						<div class="excludeRow">
							<div>
								게시글이 없습니다.
							</div>
						</div>
					</li>
				</ul>
			</article>
		</div>
	</div>
	<input type="hidden" class="topic" th:value="${topic}">
	<!-- <form name="pageForm" id="pageForm" th:action="@{/Cboard/list}">
		<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
		<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
	</form> -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/common.js}"></script>
<script type="text/javascript" th:src="@{/main/js/main.js}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111023863-1"></script>

<script th:inline="javascript">
	const searchForm = $("#searchForm");
	const pageForm = $("#pageForm");
	$(".changePage").on("click", function (e) {
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		let pagenum = $(this).attr("href");
		pageForm.find("input[name='pagenum']").val(pagenum);
		pageForm.submit();
	});
	$(".get").on("click", function (e) {
		e.preventDefault();
		let boardNum = $(this).attr("href");
		let url =/*[[@{/Cboard/get}]]*/'';
		pageForm.append("<input type='hidden' name='boardNum' value='" + boardNum + "'>")
		pageForm.attr("action", url);
		pageForm.attr("method", "get");
		pageForm.submit();
	})

	$("#searchForm a").on("click", sendit);
	function sendit() {
		if (!searchForm.find("option:selected").val()) {
			alert("검색 기준을 선택하세요.");
			return false;
		}
		if (!$("input[name='keyword']").val()) {
			alert("검색 키워드를 입력하세요.");
			return false;
		}
		searchForm.submit();
	}

	let cnt = 0;
	let startRow = 10;
	let amount = 20;
	let topic = /*[[${topic}]]*/'';
	console.log("topic :",topic)
	const getListURL = "/Cboard/addList";
	//토픽 클릭시 

	document.querySelectorAll(".topic").forEach(data => data.addEventListener("click", function (e) {
		//만약 현재 토픽값과 같다면 ajax호출 안하고 그냥 딱히 변화 없는것으로.
		if (topic == e.target.innerText) {
			console.log("토픽 값이 같습니다 " + topic);
			return;
		} else {
			//토픽값이 다르다면 돔을 재구성 해서 다시 스타트
			$(".list>li").remove();
			topic = e.target.innerText;
			//값이 달라져서 다시 카운트 
			cnt = 0;
			startRow = 10;
			amount = 20;
			//ajax 호출 
			getList()
		}
	}))


	let observe = new IntersectionObserver( //특정 부분이 감지됐을때 작동.
		entries => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					console.log("감지완료");
					cnt += 1;
					startRow = 10 * cnt;
					amount = 20 * cnt;
					console.log("startRow : " + startRow + "," + "amount :" + amount + ", cnt : " + cnt + ", topic : " + topic)
					$.ajax({
						url: getListURL,
						type: "get",
						data: { "startRow": startRow, "amount": amount, "topic": topic },
						success: function (result) {
							if (result != null) {
								appendDataToTable(result);
							}
						},
						error: function (result
						) {
							// 에러 처리 코드 추가
						},
					});
				}
			});
		}
	);
	observe.observe(document.querySelector(".info-area"));
	//토픽값 변경시 초기 기본값 호출
	//데이터는 기본값 0~10
	function getList() {
		let table = $(".list");
		$.ajax({
			url: getListURL,
			type: "get",
			data: { "startRow": 0, "amount": 10, "topic": topic },
			success: function (result) {
				if (result.length != 0) {
					console.log(result)
					appendDataToTable(result);
				} else {
					let noDataHtml = "<li><div colspan='7'>게시글이 없습니다.</div></li>";
					table.append(noDataHtml);
				}
			},
			error: function (result
			) {
				// 에러 처리 코드 추가
			},
		});
	}

	function appendDataToTable(data) {
		let table = $(".list"); // 테이블을 나타내는 클래스를 선택
		data.forEach(item => {
			let newRowHtml = "<li class='addList'>" +
				"<a href='/CBoard/get?boardNum=" + item.boardNum + "'>" +
				"<div class='topic_category'>" + item.topic + " <sub>" + item.category + "</sub></div>" +
				"<div class='main_title'>" + item.boardTitle + "</div>" +
				"<div class='main_content'>" + (item.boardContents.length > 30 ? item.boardContents.substring(0, 30) + "..." : item.boardContents) + "</div>" +
				"<div class='user'>" + item.userId + "</div>" +
				"<div class='read_cnt_area'>" +
				"<div class='read_cnt'>" + item.readCount + "</div>" +
				"<div class='regDate'>" + item.regDate + "</div>" +
				"</div>" +
				"</a>" +
				"<hr>" +
				"</li>";

			// 동적으로 형성된 HTML을 테이블에 삽입
			table.append(newRowHtml);

			// 추가된 데이터의 이벤트 처리
			table.find("li:last a").on("click", function (e) {
				e.preventDefault();
				let boardNum = item.boardNum;
				let url = '/Cboard/get?boardNum=' + boardNum;
				// 여기서 페이지 이동 등을 수행할 수 있습니다.
				window.location.href = url;
			});
		});
	}
	function loginUserHandler() {
		const userId =  /*[[${session.loginUser}]]*/'';
		if (userId != null) {
			return true;
		} else {
			alert("로그인후 이용해주세요")
			return false;
		}
	
	return true; 
	}

</script>

</html>