@charset "utf-8";
.map_wrap,.map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
	border-radius: 10px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
	color: #000;
	text-decoration: none;
}
.map_wrap {
	margin-top: 50px;
	position: relative;
	width: 100%;
	height: 500px;
}
#menu_wrap {
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0px;
	width: 250px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
}
.bg_white {
	background: #fff;
}
#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #5F5F5F;
	margin: 3px 0;
}
#menu_wrap .option {
	text-align: center;
}
#menu_wrap .option p {
	margin: 10px 0;
}
#menu_wrap .option button {
	margin-left: 5px;
}
#placesList li {
	list-style: none;
}
#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}
#placesList .item span {
	display: block;
	margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#placesList .item .info {
	padding: 10px 0 10px 10px;
}
#placesList .info .gray {
	color: #8a8a8a;
}
#placesList .info .jibun {
	padding-left: 26px;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}
#placesList .info .tel {
	color: #009900;
}
#pagination {
	margin: 10px auto;
	text-align: center;
}
#pagination a {
	display: inline-block;
	margin-right: 10px;
}
#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
div .data {
	background-color: white;
	height: auto;
	width: 400px;
	margin: 0px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}
td {
	width: 50px;
	height: 50px;
}
.Calendar {
	text-align: center;
}
.Calendar>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}
.Calendar>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-weight: 600;
}
.Calendar>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 45px;
	margin: 2.5px;
	display: block;
	text-align: center;
}
.pastDay {
	color: lightgray;
}
.today {
	background-color: #F5D042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.futureDay {
	background-color: #FFFFFF;
	cursor: pointer;
}
.futureDay:hover {
	background: #eee;
}
.futureDay.choiceDay,
.today.choiceDay {
	background: #0A174E;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
/* map css */


#Form{
	width:100%;
    resize: none;
}
textarea{
	width:50%;
	height:100px;
    resize: none;
	margin-top: 15px;
	font-size: larger;
	font-weight: bolder;
	border-radius: 10px;
}
.list{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #efefef;
	height: 40px;
}
.list > input{
	border : 1px solid #efefef
}
#Form{
	margin-top: 3vh;
	font-weight: bolder;
}
.calendarcheck, .calendarcancel{
	color: #9e9c9c !important;
}
.calendars{
	margin-top: 5px;
	font-size: smaller;
	border: 1px solid #efefef;
    width: 100%;
    height: 40px;
	width: 30%;
}
.data{
	margin-top: 5px;
}
.travel_title{
	font-weight: bolder;
	margin-top: 15px;
	margin-bottom: 15px;
}
.a_input{
	position: relative;
	width: 100%;
	height: 100%;
	top: 10px;
	font-size: medium;
	font-weight: bolder;
	border-radius: 5px;
	color: #ffffff;
}

.parent_a{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 50%;
    background-color: #3182f6;
    color: #fff;
    text-align: center;
    border-radius: 10px;
	height: 40px;
}

/* map css end */




#Form textarea{
	width:100%;
	height:100px;
	resize: none;
}

.btn{
	display: flex;
	flex-wrap: wrap;
}
.remove-btn{
	display: block;
	width:100px;
	background-color: #3182f6;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
	border-radius: 10px;
	margin-right: 15px;
	font-weight: bold;
}
.list-btn{
	display: block;
	width:100px;
	background-color: #3182f6;
	color: #fff !important;
	padding: 20px 10px;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
}





/*달력 시작*/
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


div .data {
	background-color: white;
	height: auto;
	width: 400px;
	margin: 0px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

td {
	width: 50px;
	height: 50px;
}

.Calendar {
	text-align: center;
}

.Calendar>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-weight: 600;
}

.Calendar>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 45px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #F5D042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #FFFFFF;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0A174E;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
/*달력 끝*/



