a{text-decoration: none;}
html{width: 100%; height: 100%;}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrap{width: 100%;}

.first_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
        rgba(1, 109, 174,0.0) 10%,
        rgba(1, 109, 174,0.0) 20%,
        rgba(1, 109, 174,0.0) 30%,
        rgba(1, 109, 174,0.0) 40%,
        rgba(1, 109, 174,0.0) 50%,
        rgba(1, 109, 174,0.1) 60%,
        rgba(1, 109, 174,0.2) 70%,
        rgba(1, 109, 174,0.3) 80%,
        rgba(1, 109, 174,0.9) 100%
    ), url(../img/ocean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login_area{
    position: relative;
    bottom: 250px;
    margin-bottom: 50px;
    color: white;
    border-radius: 5px;
    background-color:  
    rgba(55, 135, 248, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 350px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}
input[type="button"], button{
    border: 1px solid rgba(0, 0, 0,0.2);
    font-weight: bolder;
    border-radius: 7px;
    width: 70px;
    color: white;
    background-color:rgba(16, 109, 239, 0.8);
}
.bottom_navi>a>img{
    width: 15px;
    height: 15px;
}
.login_form{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 5px   rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin-top: 100px;
}
.userid_div,.userpw_div{
    border-collapse: collapse;
    background-color: #3182f6;
}
.userid_div{
    border-bottom: 1px solid black;
}

.userpw_input , .userid_input{
    all:unset;
}
input[type=text], input[type=password]{
    width: 200px;
    height: 50px;
}
.login_button{
    margin: 10px;
    width: 100px;
    height: 30px;
    box-shadow: 1px 1px 10px rgba(49, 131, 246, 0.8);
}
input[type=text]::placeholder, input[type=password]::placeholder{
    font-weight: bolder;
    color: white;
}
.bottom_navi{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    text-align: center;
    margin-bottom: -12px;
    position: relative;
}
input[type=text],input[type=password]{
    font-weight: bolder;
    color: white;
}

input[type=text]:focus::placeholder, input[type=password]:focus::placeholder{
    color: transparent;
}
#footer{
    margin: 0;
}
