<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/main/css/common.css}">
<link rel="stylesheet" th:href="@{/main/css/sub.css}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/reservation/css/write.css}">
<script src="https://kit.fontawesome.com/81ba6ca618.js" crossorigin="anonymous"></script>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap reserv_write">
		<th:block th:replace="~{layout/subVisual::subVisual}"></th:block>
		<div class="sub-inner">
			<form id="Form" method="post" name="Form" th:action="@{/reservation/reservationmodify}" data-aos="fade-up">
				<input type="hidden" th:value="${reservation.requestNum}" name="requestNum">
				<div class="sec-half">
					<div class="sec-con left-sec" data-aos="fade-up">
						<span class="sec-tit">카테고리</span>
						<select id="category" onchange="f()" name="category">
							<option value="" selected disabled>[[${reservation.category}]]</option>
							<option class="categoryA" value="숙소">숙소</option>
							<option class="categoryB" value="식당">식당</option>
							<option class="categoryC" value="카페">카페</option>
							<option class="categoryD" value="렌터카">렌터카</option>
							<option class="categoryE" value="기타">기타</option>
						</select>
					</div><!--.category-sec-->
					<div class="sec-con right-sec" data-aos="fade-up">
						<span class="sec-tit">유형</span>
						<select class="typeA" name="requestType">
							<option th:value="${reservation.requestType}" selected disabled>[[${reservation.requestType}]]
							</option>
							<option class="typeAA" value="모텔">모텔</option>
							<option class="typeAB" value="호텔">호텔</option>
							<option class="typeAC" value="펜션">펜션</option>
							<option class="typeAD" value="에어비엔비">에어비엔비</option>
							<option class="typeAE" value="캠핑장">캠핑장</option>
						</select>
						<select class="typeB" name="requestType">
							<option th:value="${reservation.requestType}" selected disabled>[[${reservation.requestType}]]
							</option>
							<option class="typeBA" value="한식">한식</option>
							<option class="typeBB" value="일식">일식</option>
							<option class="typeBC" value="중식">중식</option>
							<option class="typeBD" value="분식">분식</option>
							<option class="typeBE" value="야식">야식</option>
						</select>
						<select class="typeC" name="requestType">
							<option th:value="${reservation.requestType}" selected disabled>[[${reservation.requestType}]]
							</option>
							<option class="typeCA" value="개인">개인</option>
							<option class="typeCB" value="프랜차이즈">프랜차이즈</option>
							<option class="typeCC" value="베이커리">베이커리</option>
							<option class="typeCD" value="디저트">디저트</option>
						</select>
						<select class="typeD" name="requestType">
							<option th:value="${reservation.requestType}" selected disabled>[[${reservation.requestType}]]
							</option>
							<option class="typeDA" value="경형/소형">경형/소형</option>
							<option class="typeDB" value="중형/대형">중형/대형</option>
							<option class="typeDC" value="SUV/승합">SUV/승합</option>
						</select>
						<select class="typeE" name="requestType">
							<option th:value="${reservation.requestType}" selected disabled>[[${reservation.requestType}]]
							</option>
							<option class="typeEA" value="회의실">회의실</option>
							<option class="typeEB" value="파티룸">파티룸</option>
						</select>
					</div><!--.type-sec-->
				</div><!--.sec-half-->

				<div class="sec-con area-sec">
					<span class="sec-tit">지역</span>
					<input type="text" value="지역" class="areaA" id="areaA" name="address" onclick="f2()">
					<div id="modal" class="modal-overlay">
						<div class="modal-window">
							<div class="close-area">X</div>
							<ul id="area">
							</ul>
						</div>
					</div>
				</div>
				<div class="sec-con" data-aos="fade-up">
					<a href="#" class="calendar sec-tit">날짜</a>
					<input type="text" class="calendars" name="regDate" th:value="${reservation.regDate}" readonly>
					<div class="data">
						<table class="Calendar">
							<thead>
								<tr>
									<td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
									<td colspan="5">
										<span id="calYear"></span>년
										<span id="calMonth"></span>월
									</td>
									<td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
								</tr>
								<tr>
									<td>일</td>
									<td>월</td>
									<td>화</td>
									<td>수</td>
									<td>목</td>
									<td>금</td>
									<td>토</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<a href="#" class="calendarcheck">선택완료</a>
						<a href="#" class="calendarcancel">닫기</a>
					</div>
				</div>
				<div class="sec-half" data-aos="fade-up">
					<div class="sec-con left-sec personnel">
						<span class="sec-tit">인원수</span>
						<select name="personnel">
							<option value="" selected disabled>[[${reservation.personnel}]]
							</option>
							<option value="1">1명</option>
							<option value="2">2명</option>
							<option value="3">3명</option>
							<option value="4">4명</option>
							<option value="5">5명</option>
							<option value="6">6명</option>
							<option value="7">7명</option>
							<option value="8">8명</option>
							<option value="9">9명</option>
							<option value="10">10명</option>
						</select>
					</div>
					<div class="sec-con fuel left-sec">
						<span class="sec-tit">연료</span>
						<select name="fuel">
							<option value="" selected disabled>[[${reservation.fuel}]]</option>
							<option>전기</option>
							<option>하이브리드</option>
							<option>가솔린</option>
							<option>디젤</option>
							<option>LPG</option>
						</select>
					</div>
					<div class="sec-con right-sec">
						<span class="sec-tit">금액대</span>
						<select class="money" name="cost">
							<option value="${reservation.cost}" selected disabled>[[${reservation.cost}]]</option>
							<option value="5">5만원~</option>
							<option value="10">10만원~</option>
							<option value="15">15만원</option>
							<option value="30">30만원~</option>
							<option value="40">40만원~</option>
							<option value="50">50만원~</option>
						</select>
					</div>
				</div>
				<div class="sec-con" data-aos="fade-up">
					<span class="sec-tit">편의시설</span>
					<input type="text" name="amenities" id="amenities" th:value="${reservation.amenities}" readonly>
					<div class="amenities">
						<div class="amenitiesA">
							<ul>
								<li><input type="checkbox" value="와이파이" name="typeA" id="check_btn">와이파이</li>
								<li><input type="checkbox" value="스파" name="typeA" id="check_btn">스파</li>
								<li><input type="checkbox" value="욕조" name="typeA" id="check_btn">욕조</li>
								<li><input type="checkbox" value="드라이기" name="typeA" id="check_btn">드라이기</li>
								<li><input type="checkbox" value="다리미" name="typeA" id="check_btn">다리미</li>
								<li><input type="checkbox" value="픽업" name="typeA" id="check_btn">픽업</li>
								<li><input type="checkbox" value="주차" name="typeA" id="check_btn">주차</li>
								<li><input type="checkbox" value="취사" name="typeA" id="check_btn">취사</li>
								<li><input type="checkbox" value="반려견동반" name="typeA" id="check_btn">반려견동반</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeA" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<div class="amenitiesB">
							<ul>
								<li><input type="checkbox" value="단체룸" name="typeB" id="check_btn">단체룸</li>
								<li><input type="checkbox" value="주차" name="typeB" id="check_btn">주차</li>
								<li><input type="checkbox" value="발렛" name="typeB" id="check_btn">발렛</li>
								<li><input type="checkbox" value="유아 동반" name="typeB" id="check_btn">유아 동반</li>
								<li><input type="checkbox" value="반려견 동반" name="typeB" id="check_btn">반려견 동반</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeB" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<div class="amenitiesC">
							<ul>
								<li><input type="checkbox" value="단체룸" name="typeC" id="check_btn">단체룸</li>
								<li><input type="checkbox" value="와이파이" name="typeC" id="check_btn">와이파이</li>
								<li><input type="checkbox" value="충전가능" name="typeC" id="check_btn">충전가능</li>
								<li><input type="checkbox" value="프린트" name="typeC" id="check_btn">프린트</li>
								<li><input type="checkbox" value="주차" name="typeC" id="check_btn">주차</li>
								<li><input type="checkbox" value="발렛" name="typeC" id="check_btn">발렛</li>
								<li><input type="checkbox" value="유아 동반" name="typeC" id="check_btn">유아 동반</li>
								<li><input type="checkbox" value="반려견 동반" name="typeC" id="check_btn">반려견 동반</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeC" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<div class="amenitiesD">
							<ul>
								<li><input type="checkbox" value="후방카메라" name="typeD" id="check_btn">후방카메라</li>
								<li><input type="checkbox" value="블루투스" name="typeD" id="check_btn">블루투스</li>
								<li><input type="checkbox" value="내비게이션" name="typeD" id="check_btn">내비게이션</li>
								<li><input type="checkbox" value="카시트" name="typeD" id="check_btn">카시트</li>
								<li><input type="checkbox" value="유모차" name="typeD" id="check_btn">유모차</li>
								<li><input type="checkbox" value="유아 동반" name="typeD" id="check_btn">유아 동반</li>
								<li><input type="checkbox" value="반려견 동반" name="typeD" id="check_btn">반려견 동반</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeD" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<div class="amenitiesE">
							<ul>
								<li><input type="checkbox" value="빔 프로젝트" name="typeE" id="check_btn">빔 프로젝트</li>
								<li><input type="checkbox" value="사무용품" name="typeE" id="check_btn">사무용품</li>
								<li><input type="checkbox" value="프린트" name="typeE" id="check_btn">프린트</li>
								<li><input type="checkbox" value="주차" name="typeE" id="check_btn">주차</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeE" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<div class="amenitiesF">
							<ul>
								<li><input type="checkbox" value="생일파티" name="typeF" id="check_btn">생일파티</li>
								<li><input type="checkbox" value="기념일 이벤트" name="typeF" id="check_btn">기념일 이벤트</li>
								<li><input type="checkbox" value="브라이덜 샤워" name="typeF" id="check_btn">브라이덜 샤워</li>
								<li><input type="checkbox" value="웨딩/돌잔치" name="typeF" id="check_btn">웨딩/돌잔치</li>
								<li><input type="checkbox" value="주차" name="typeF" id="check_btn">주차</li>
								<li><input type="checkbox" value="유아 동반" name="typeF" id="check_btn">유아 동반</li>
								<li><input type="checkbox" value="반려견 동반" name="typeF" id="check_btn">반려견 동반</li>
								<li><input type="checkbox" value="장애인 편의시설" name="typeF" id="check_btn">장애인 편의시설</li>
							</ul>
						</div>
						<a href="#" class="sum">확인</a>
					</div>
				</div>
				<div class="sec-con" data-aos="fade-up">
					<span class="sec-tit">요청사항</span>
					<textarea placeholder="요청사항을 적어주세요!" name="memo">[[${reservation.memo}]]</textarea>
				</div>
			</form>
			<div>
				<a href="javascript:document.Form.submit()">수정완료</a>
				<a th:href="${'/reservation/reservationlist'}">목록</a>
			</div>
		</div><!--.sub-inner-->
	</div><!--.wrap-->

	<div id="clock_box">
		<p id="clock_p">Time is going now.</p>
		<div id="clock"></div>
	</div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/main/js/common.js}"></script>
<script type="text/javascript" th:src="@{/main/js/main.js}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script th:src="@{/reservation/js/write.js}"></script>
<script th:src="@{/reservation/js/modify.js}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111023863-1"></script>
<script th:inline="javascript">
</script>

</html>