<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>견적요청</title>
</head>
<link rel="stylesheet" th:href="@{/main/css/common.css}">
<link rel="stylesheet" th:href="@{/main/css/sub.css}">
<link rel="stylesheet" th:href="@{/reservation/css/list.css}">

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap">
		<th:block th:replace="~{layout/subVisual::subVisual}"></th:block>
		<div class="sub-inner">
			<h1>견적서 조회</h1>
			<div>
				<a th:href="${'/reservation/reservationwrite'}">견적서 작성</a>
				<th:block th:if="${session.businessUser == 'O'}">
					<input type="button" value="카테고리"> <input type="button" value="지역">
				</th:block>
			</div>
			<div>
				<ul>
					<li>
						<th:block th:if="${list != null and list.size()>0}" th:each="reservation : ${list}">
							<div class="request">
								<h3>[[${reservation.category}]]</h3>
								<p>[[${reservation.requestType}]]</p><br>
								<span>[[${reservation.regDate}]]</span><br><span>[[${reservation.address}]]</span><br>
								<p class="memo">[[${reservation.memo}]]</p><br>
								<div class="sum">
									<a th:href="${reservation.requestNum}" class="get">자세히</a>
								</div>
							</div>
						</th:block>
					</li>
				</ul>
			</div>
			<form name="getForm" id="getForm" th:action="@{/reservation/reservationlist}">
			</form>
		</div><!--.sub-inner-->
	</div><!--.wrap-->
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/main/js/common.js}"></script>
<script type="text/javascript" th:src="@{/main/js/main.js}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111023863-1"></script>
<script th:src="@{/reservation/js/write.js}"></script>
<script th:inline="javascript">

	const getForm = $("#getForm");
	$(".get").on("click", function (e) {
		e.preventDefault()
		let requestNum = $(this).attr("href");
		let url =/*[[@{/reservation/reservationget}]]*/'';
		getForm.append("<input type='hidden' name='requestNum' value='" + requestNum + "'>")
		getForm.attr("action", url);
		getForm.attr("method", "get");
		getForm.submit();
	})


</script>

</html>