<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
	<footer id="footer">
    <div class="footer-inner">
        <div class="footer-logo"></div>
		<div class="info-area">
			<ul class="info-list02">
        	    <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">요청하기</a></li>
                <li><a href="#">찾아보기</a></li>
                <li><a href="#">플래너</a></li>
                <li><a href="#">커뮤니티</a></li>
            </ul>
            <p class="tel">000.0000.0000</p>
            <p class="map">서울특별시 강남구 역삼동 522-6 5F</p>
        </div>
		<div class="footer-right">
			<p class="copy">Copyright ©ss 2023 Oco Co,.Ltd. All rights reserved.</p>
            <a href="#" target="_blank"><i class="ico ico-linkin"></i></a>
  		</div>
    </div>
</footer>
</th:block>
</html>



