body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header{
    background-color: blue;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table{
	margin-top: 170px;
	border:1.5px solid black;
}

th,tr{
	border: 1px solid black;
}

th{
	background-color: #3182f6;
	color: white;
	text-align: center;
	vertical-align : middle;
}

.a_row{
	border-bottom-color: white;
}

td{
	padding: 15px;
}

textarea{
	border: none;
	width: 500px;
	height: 103px;
	min-height: 8rem;
	overflow-y: hidden;
    resize: none;
    outline: none;
}

input[type=text]{
	margin: 0 auto;
	border:none;

}

.non.file{
	color: darkgray;
}

.btn_area{
	margin-top: 10px;
	margin-right: 5px;
    border-radius: 3px;
    width: 885px; 
	
}

form>a{
	display: inline-block;
	box-sizing: border-box;
	background-color: #3182f6;
	color: white;
	border-radius: 3px;
	margin-left: 0 auto;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px ;
  	color: white;
 	text-decoration: none;
}

a.back{
	display: inline-block;
	box-sizing: border-box;
	background-color: #3182f6;
	color: white;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 5px 10px 7px 10px ;
	text-align: right;
}

a.regist{
	display: inline-block;
	box-sizing: border-box;
	background-color: #3182f6;
	color: white;
	border-radius: 3px;
	margin-bottom: 30px;
	padding: 5px 10px 7px 10px ;
	text-align: center;

}

.replyForm.row{
	padding-bottom: 20px;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom:2px solid #3182f6;
	padding-bottom: 5px;
}

#replyContents{
	padding: 5px 5px 5px 5px;
	
}

div>a{
	box-sizing: border-box;
	background-color: #3182f6;
	color: white;
	border-radius: 3px;
	margin-left: 0 auto;
	margin-bottom: 15px;
	padding: 5px 10px 5px 10px ;
  	color: white;
 	text-decoration: none;
}

.button.finish,.button.cancel{
	margin-bottom: 15px;
}

