body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header{
    background-color: blue;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
	margin-top: 170px;
}

th,tr{
	border: 1px solid black;
}

th{
	background-color: #3182f6;
	color: white;
	text-align: center;
	vertical-align : middle;
}

.a_row{
	border-bottom-color: white;
}

td{
	padding: 15px;
}

textarea{
	border: none;
	width: 598px;
	height: 103px;
	min-height: 8rem;
	overflow-y: hidden;
    resize: none;
    outline: none;
}