<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/main/css/common.css}">
	<link rel="stylesheet" th:href="@{/main/css/sub.css}">
	
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap">
		<th:block th:replace="~{layout/subVisual::subVisual}"></th:block>
		<div class="sub-inner">
			<div class="total_section">
				<div class="main_section">
					<div class="title_section">
						[[${userboard.businessId}]]
						[[${userboard.businessAddress}]]
						[[${userboard.businessCategory}]]
						[[${userboard.businessStoreName}]]
						[[${infoboard.useTime}]]
					</div>
					<div class="shot_info">
					</div>
					<div class="main content">
						<textarea>[[${infoboard.content}]]</textarea>
					</div>
					<div class="free_service">

					</div>
					<div class="photo_zone">
						<th:block th:if="${files != null and files.size() > 0}" th:each="file : ${files}">
							<th:block th:with="sar=${file.orgname.split('[.]')}">
								<th:block th:with="ext=${sar[sar.length-1]}">
									<ul th:if="${ext == 'jpg' or ext =='jpeg' or ext == 'png' or ext == 'fig' or ext == 'webp'}">
										<li><img th:src="@{Bboard/thumbnail (systemname=${file.systemname})}"></li>
									</ul>
								</th:block>
							</th:block>
						</th:block>
					</div>
					<div class="reply">
					</div>
				</div>
				<div class="sub_section">
					<a class="" th:href="@{/Bboard/modify}"> 수정하기 </a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>

</html>