<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/main/css/common.css}">
	<style>
		#wrap {
			margin: 150px auto;
			border: 1px solid black;
			width: 1200px;
			height: 1000px;
		}

		.total_section {
			border: 1px solid black;
			box-sizing: border-box;
			padding: 10px;
			display: flex;
			justify-content: space-between;
		}

		.main_section {
			border: 1px solid black;
			width: 850px;
			height: 500px;
		}

		.sub_section {
			border: 1px solid black;
			width: 320px;
			height: 500px;
		}
	</style>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">
		<div class="total_section">
			<div class="main_section">
				<form th:action="@{/Bboard/modify}" method="post" name="boardForm" if="boardForm"
					enctype="multipart/form-data">
					<div class="title_section">
					</div>
					<div class="shot_info">
						<select name="maa1">
							<option>오전&nbsp;</option>
							<option>오후&nbsp;</option>
						</select>
						<select name="open_time" class="time">
							<option value="시작">시작 시간</option>
						</select>
						<select name="maa2">
							<option>오전&nbsp;</option>
							<option>오후&nbsp;</option>
						</select>
						<select name="close_time" class="time">
							<option value="마감">마감 시간</option>
						</select>
					</div>
					<div class="main content">
						<textarea name="content"></textarea>
						<input type="submit">
					</div>
					<div class="free_service">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
					</div>
					<table class="photo_zone" style="border-collapse: collapse;" border="1">
						<tr class="r0 at">
							<th>파일 첨부1</th>
							<td class="file0_cont">
								<div style="float:left;">
									<input type="file" name="files" id="file0" style="display:none">
									<span id="file0name">선택된 파일 없음</span>
								</div>
								<div style="float:right; margin-right: 100px;">
									<a href="javascript:upload('file0')">파일 선택</a>
									<a href="javascript:cancelFile('file0')">첨부 삭제</a>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="sub_section">
			</div>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	const date = ["01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00"]
	const time = document.getElementsByClassName("time")

	for (let i of time) {
		for (let key of date) {
			let option = document.createElement('option');
			option.value = key
			option.innerHTML = key
			i.appendChild(option);
		}
	}

	let i = 0;
	function upload(name) {
		$("#" + name).click();
	}
	//$(선택자).change(함수) : 해당 선택자의 요소에 변화가 일어난다면 넘겨주는 함수 호출
	$("[type='file']").change(function (e) {
		//e : 파일이 업로드된 상황 자체를 담고있는 객체
		//e.target : 파일이 업로드가 된 input[type=file] 객체(태그객체)
		//e.target.files : 파일태그에 업로드를 한 파일 객체들의 배열
		const file = e.target.files[0];
		const fileTag = e.target;

		if (file == undefined) {
			//파일이 업로드 되었다가 없어진 경우
			cancelFile(fileTag.id);
			console.log("삭제할때만 들어옴")
		}
		else {
			//파일이 없었다가 업로드 한 경우
			//#file0name
			$("#" + fileTag.id + "name").text(file.name);
			//업로드 된 파일의 확장자명
			let ext = file.name.split(".").pop();
			if (ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp') {
				$("." + fileTag.id + "_cont .thumbnail").remove();
				const reader = new FileReader();

				reader.onload = function (ie) {
					const img = document.createElement("img");
					img.setAttribute("src", ie.target.result)
					img.setAttribute("class", "thumbnail");
					document.querySelector("." + fileTag.id + "_cont").appendChild(img);
				}
				reader.readAsDataURL(file);
			}
			else {
				const temp = $("." + fileTag.id + "_cont .thumbnail");
				if (temp != null) {
					temp.remove();
				}
			}
			//가장 마지막 파일 선택 버튼을 눌렀을 때
			if (fileTag.id.split("e")[1] == i) {

				const cloneElement = $(".r" + i).clone(true);
				i++;
				cloneElement.appendTo(".photo_zone tbody")
				const lastElement = $(".photo_zone tbody").children().last();

				lastElement.attr("class", "r" + i + " at");
				lastElement.children("th").text("파일 첨부" + (i + 1));
				lastElement.children("td").attr("class", "file" + i + "_cont");

				lastElement.find("input[type='file']").attr("name", "files");
				lastElement.find("input[type='file']").attr("id", "file" + i);
				lastElement.find("input[type='file']").val("");

				lastElement.find("span").attr("id", "file" + i + "name");
				lastElement.find("span").text("선택된 파일 없음");

				lastElement.find("a")[0].href = "javascript:upload('file" + i + "')";
				lastElement.find("a")[1].href = "javascript:cancelFile('file" + i + "')"

			}
		}
	})


	function cancelFile(name) {
		console.log("삭제")
		if (name.split("e")[1] == i) {return;}

		if (i != 0) {
			let temp = Number(name.split("e")[1]);

			$(".r" + temp).remove();

			for (let j = temp + 1; j <= i; j++) {
				const el = $(".photo_zone tbody").find(".r" + j);
				el.attr("class", "r" + (j - 1) + " at");

				el.children('th').text("파일 첨부" + j);

				el.children('td').attr("class", "file" + (j - 1) + "_cont");

				const fileTag = el.find("input[type='file']");
				fileTag.attr("name", "file" + (j - 1));
				fileTag.attr("id", "file" + (j - 1));

				el.find("span").attr("id", "file" + (j - 1) + "name");

				el.find("a")[0].href = "javascript:uplad('file" + (j - 1) + "')";
				el.find("a")[1].href = "javascript:cancelfile('file" + (j - 1) + "')";
			}
			i--;
		}
	}


</script>




























</html>