@charset "utf-8";

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, button, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: normal;
	vertical-align: baseline;
  	box-sizing: border-box;
	color: #2B2B2B;
	scroll-behavior: smooth;
	word-wrap: break-word;
	word-break: keep-all;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	letter-spacing: -1px;
}

body {
	line-height: 1;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

 a:hover,
 a:visited,
 a:focus,
 a:active {
	text-decoration: none;
	color: inherit;
}

span {
	color: inherit;
}

small {
	display: block;
}

img {
	max-width: 100%;
}

button {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #2B2B2B;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	box-sizing: border-box;
}

input:focus {
	outline: none;
}
/* clearfix */
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}




/* common */

.hidden {
  overflow: hidden;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1335px;
  padding: 0 25px;
  /*height: 100%;*/
  margin: auto;
}




/* header */

#header {
  width: 100%;
  height: 104px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: background-color .5s ease,
              top .5s ease;
}

#header.down {
  top: -104px;
}

#header.slide-open,
#header.scroll {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

@media (max-width: 960px) {
  #header {
    height: 64px;
  }
}

#header .header-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 285px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #header .header-inner {
    padding-left: 85px;
  }
}

@media (max-width: 960px) {
  #header .header-inner {
    justify-content: flex-end;
  }
}

#header .header-inner .ham-btn {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  border: 1px solid #3182f6;
  row-gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#header .header-inner .ham-btn i {
  display: block;
  width: 16px;
}

#header .header-inner .ham-btn span {
  display: block;
  height: 1.6px;
  background-color: #3182f6;
  transition: all .6s ease;
}

#header .header-inner .ham-btn span.line01 {
  width: 16px;
}

#header .header-inner .ham-btn span.line02 {
  width: 9px;
  margin-top: 3px;
  background-color: #3182f6;
}

#header .header-inner .ham-btn span.line03 {
  margin-top: 3px;
  width: 13px;
}

#header .header-inner .logo {
  width: 180px;
  background: url(../img/h-logo.svg) no-repeat top;
  background-size: cover;
}

@media (max-width: 960px) {
  #header .header-inner .logo {
    width: 114px;
    height: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

#header .header-inner .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  #header .depth1 {
    display: none;
  }
   #header .util {
    display: none;
  }
}

#header .depth1 li {
  display: inline-block;
}

#header .util li {
  display: inline-block;
}

#header .depth1 li + li {
  margin-left: 34px;
  position: relative;
}

#header .depth1 li + li:before {
  content: "·";
  position: absolute;
  right: calc(100% + 18px);
  top: 0;
  pointer-events: none;
}

#header .depth1 li a {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  font-size: 16px;
  text-transform: uppercase;
}

#header .util li a {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-left: 20px;
}

#header .depth1 li a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #3182f6;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width .3s ease;
}

#header .depth1 li:hover a:after,
#header .depth1 li.active a:after {
    width: 100%;
}

#header .depth1 li.active a,
#header .depth1 li:hover a {
    color: #3182f6!important;
}

#header.white .header-inner .logo {
  background-position: bottom;
}

#header.white .depth1 li a,
#header.white .depth1 li + li:before {
  color: #fff;
}

#header.white .util li a,
#header.white .util li + li:before {
  color: #fff;
}

#header.white .header-inner .ham-btn {
  border-color: #fff;
}

#header.white .header-inner .ham-btn span {
  background-color: #fff;
}

#header.slide-open .depth1 li a,
#header.slide-open .depth1 li + li:before{
  color: #222;
}


#header.slide-open .util li a,
#header.slide-open .util li + li:before{
  color: #2b2b2b;
}

#header.slide-open .header-inner .logo {
  background-position: top;
}

#header.slide-open .header-inner .ham-btn {
  border-color: #3182f6;
}

#header.slide-open .header-inner .ham-btn span {
  background-color: #3182f6;
}

#header.slide-open .header-inner .ham-btn span.line01 {
  transform: rotate(-45deg) translate(-1px,1px);
}

#header.slide-open .header-inner .ham-btn span.line02 {
  transform: translateX(30px);
  opacity: 0;
  margin-top: 0;
}

#header.slide-open .header-inner .ham-btn span.line03 {
  width: 16px;
  transform: rotate(45deg) translate(-1px,-1px);
  margin-top: 0;
}

#header .slidemenu {
  position: relative;
  border-top: 1px solid #CCCCCC;
  background-color: #fff;
  display: none;
}

@media (max-width: 960px) {
  #header .slidemenu {
    border-top: none;
  }

  #header.slide-open .slidemenu {
    height: 100vh!important;
    max-height: calc(100vh - 64px);
    overflow-y: auto;
  }
}

#header .slidemenu:after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

#header .slidemenu-area {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

@media (max-width: 960px) {
  #header .slidemenu-area {
    flex-wrap: wrap;
  }
}

#header .slidemenu-area .slidemenu-wrap {
  width: 220px;
  padding: 48px 0 72px;
}

@media (max-width: 960px) {
  #header .slidemenu-area .slidemenu-wrap {
    width: 100%;
    padding: 0;
  }

  #header .slidemenu-area .slidemenu-wrap:last-child {
    border-bottom: 1px solid #ccc;
  }
}

#header .slidemenu-area .slidemenu-wrap button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
}

@media (max-width: 960px) {
  #header .slidemenu-area .slidemenu-wrap button {
    text-align: left;
    pointer-events: visible;
    padding: 36px 25px;
    border-top: 1px solid #CCCCCC;
  }

  #header .slidemenu-area .slidemenu-wrap button.open {
    color: #3182f6;
  }
}

#header .slidemenu-area .slidemenu-wrap .slidemenu-list {
  margin-top: 30px;
}

@media (max-width: 960px) {
  #header .slidemenu-area .slidemenu-wrap .slidemenu-list {
    display: none;
    margin-top: 0;
    padding-left: 25px;
    padding-bottom: 36px;
  }
}

#header .slidemenu-area .slidemenu-wrap .slidemenu-list li {
  text-align: center;
}

@media (max-width: 960px) {
  #header .slidemenu-area .slidemenu-wrap .slidemenu-list li {
    text-align: left;
  }
}

#header .slidemenu-area .slidemenu-wrap .slidemenu-list li + li {
  margin-top: 24px;
}

#header .slidemenu-area .slidemenu-wrap .slidemenu-list li a {
  text-align: center;
  font-weight: 400;
}

#header .slidemenu-area .slidemenu-wrap .slidemenu-list li:hover a {
  color: #3182f6;
}

#header .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  position: relative;
}

/* footer */

#footer {
  width: 100%;
  background-color: #3182f6;
}

@media (max-width: 768px) {
  #footer {
    margin-top: 150px;
  }
}

#footer .footer-inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #footer .footer-inner {
    display: block
  }
}

#footer .footer-inner .footer-logo {
  width: 150px;
  height: 15px;
  background: url(../img/logo-w.svg) no-repeat center;
  background-size: cover;
}

#footer .footer-inner .info-area {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-start;
  align-items: center;
}
#footer .footer-inner .info-area .tel{
	font-size: 30px;
	margin: 30px 0 10px 0;
	color:#fff;
	
}
@media (max-width: 1800px) {
  #footer .footer-inner .info-area {
    max-width: 1200px;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  #footer .footer-inner .info-area {
    position: static;
    transform: translate(0, 0);
  }
}

#footer .footer-inner .info-area .map {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

@media (max-width: 1200px) {
  #footer .footer-inner .info-area .map {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  #footer .footer-inner .info-area .map {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #footer .footer-inner .info-area .info-list02 {
  margin-top: 37px;
  }
}

#footer .footer-inner .info-area .info-list02 > li {
  display: inline-block;
  position: relative;
}

#footer .footer-inner .info-area .info-list02 > li + li:before {
  content: "·";
  color: #fff;
  margin: 0 8px;
}

#footer .footer-inner .info-area .info-list02 > li > a,
#footer .footer-inner .info-area .info-list02 > li > button {
  display: inline;
  color: #fff;
  font-size: 14px;
}

#footer .footer-inner .info-area .info-list02 > li .ico-up-arrow {
  display: inline-block;
  margin-left: 7px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 3px;
}

#footer .footer-inner .info-area .info-list02 > li.open .ico-up-arrow {
  transform: rotate(-135deg);
  margin-bottom: -1px;
}

#footer .footer-inner .info-area .info-list02 > li .family-wrap {
  position: absolute;
  bottom: 100%;
  left: -12px;
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  width: 150px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #3182f6;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all .3s ease;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#footer .footer-inner .info-area .info-list02 > li .family-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#footer .footer-inner .info-area .info-list02 > li.open .family-wrap {
  bottom: calc(100% + 13px);
  opacity: 1;
  visibility: visible;
}

#footer .footer-inner .info-area .info-list02 > li .family-wrap li a {
  font-size: 16px;
  display: block;
}

#footer .footer-inner .info-area .info-list02 > li .family-wrap li + li {
  margin-top: 14px;
}

#footer .footer-inner .copy {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1200px) {
  #footer .footer-inner .copy {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  #footer .footer-inner .copy {
    font-size: 12px;
  }
}

#footer .footer-inner .footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 1200px) {
  #footer .footer-inner .footer-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
