
#header.white .util li a,
#header.white .util li + li:before {
  color: #333;
}
#header.white .header-inner .ham-btn {
  border-color: #3182f6;
}
#header.white .header-inner .ham-btn span {
  background-color: #3182f6;
}
#header.white .depth1 li a,
#header.white .depth1 li + li:before {
  color: #333;
}
#header {
  border-bottom: 1px solid #efefef;
}

.sub-inner {
	margin: 0 auto;
	max-width: 75%;
	padding: 200px 0;
	
}
.sub-tit{
	margin-bottom: 50px;
}
.sub-inner h2{
	font-size: 50px;
	line-height: 60px;
	text-align: left;
}
.sub-inner strong{
	color:#3182f6;
}
