@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

select{
  border:1px soid #efefef;
  height: 40px;
  width: 300px;
  opacity: 0.4;

}

.sec-con{
	margin-bottom: 30px;
}

.sec-con .sec-tit{
	display: block;
	margin-bottom: 10px;
}

.sec-con input[type=text]{
	border: 1px solid #efefef;
	width: 300px;
	height: 40px;
}

/* 지역 모달 창 시작 */

.area-sec{
	position: relative;
}

.category_2{
	font-weight: bold;
	border-bottom: 1px solid #efefef;
}
.category_2_detail{
	font-weight: normal;
	color: #333333;
	margin-left: 40px;
	border-bottom: 1px solid #efefef;
}

#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index:3000;
}

#modal .modal-window {
	background:#FFFFFF;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 500px;
	position: relative;
	height: 500px;
	overflow-y: auto;
}

#modal .modal-window .category_list{
	padding: 30px ;
	line-height: 40px;
}


#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;

}

#modal .title h2 {
	display: inline;
}

#modal .close-area {
	display: inline;
	float: right;
	padding: 30px;
	cursor: pointer;
	color: #333;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

/* 지역 모달 끝*/

.category{
	display: flex;
	flex-wrap: wrap;
}

.categorys,.addr{
	margin-right: 20px;
}


.list{
	font-weight: 700;
	display: flex;
	justify-content: left;
	flex-flow:wrap;
	margin-right: 10px;
}
.li_list{
	margin-right: 10px;
}
.li_lists{
	margin-right: 10px;
}

h3{
	font-size: 24px;
	text-align: center;
	margin:10px;
	color: 3182f6;
}
p,span{
	font-family: 'Pretendard-Regular';
    font-weight: 100;
    font-size: 14px;
}
.list span{
	display: block;
	margin-bottom: 2px;
}
.list p{
	text-align: center;
	padding: 3px 5px;
	margin:0 auto;
}

.list h4 {
	color: #3182f6;
	text-align: center;
	margin:0 auto;
	font-size: 14px;
	margin-bottom: 20px;
}
.list strong {
	font-size: 14px;
	display: block;
	padding: 10px 0 5px 0;
	border-top: 1px dotted lightgrey;
}

.list li {
	width: 24%;
	margin-bottom: 20px;
}
.request{
	border: 1px solid gray;
	border-width: 1px; /* 굵기를 1px로 조절 */
	border-radius: 20px;
	width: 100%;
	display: inline-block;
	flex-wrap: wrap;
	padding: 25px 15px;
}

.memo{
	text-align: left;
}
.sum{
	color: #333;
	text-align: center;
	border-radius: 10px;
	background-color:#efefef;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}
.sum:hover{
	background-color: #3182f6;
}

.sum:hover a{
	color: #fff;
}