
.about_video_In{width:400px; height:400px; border-radius:50%; overflow:hidden; margin-left:60px; margin-top:30px; position:relative; z-index:300;}



#Form{
	width: 50%;
}
#Form .sec-half{
	display: flex;
}

#Form .sec-half .left-sec {
  width:49%;
  position: relative;
  margin-right: 2%;;
}
#Form .sec-half .right-sec{
  width:49%;
  position: relative;
}

#Form .sec-con{
	margin-bottom: 30px;
}

#Form .sec-con .sec-tit{
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

#Form .sec-con input[type=text]{
	border: 1px solid #efefef;
	width: 100%;
	height: 40px;
}

#Form select{
  border:1px soid #efefef;
  height: 40px;
  width: 100%;
  opacity: 0.4;

}

#Form option{
 width:100%;
  background-color: #efefef;
}

#Form textarea{
	width:100%;
	height:100px;
}

#Form .fuel{display: none;}

.amenities ul{
	display: flex;
}
.amenities ul:after{
	display: block;
	content: "";
	clear: both;
}
.amenities ul li{
	display: block;
	font-size: 14px;
}

.submit-btn{
	display: block;
	width:50%;
	background-color: #3182f6;
	color: #fff;
	padding: 20px 10px;
	text-align: center;
	border-radius: 10px;
}






#clock_box{
	display:block;
	position: fixed;
	top:20%;
	left:65%;
	z-index:100;

	}

#clock {
	text-align: left;
	/* margin-top: 10%; */
	font-size: 64px;
	font-weight: bold;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	opacity:0.1;
	width:100%;
	line-height:0.9;
	margin-top:7%;

}

#clock_p {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	opacity:0.15;

}










/*달력 시작*/
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


div .data {
	background-color: white;
	height: auto;
	width: 400px;
	margin: 0px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

td {
	width: 50px;
	height: 50px;
}

.Calendar {
	text-align: center;
}

.Calendar>thead>tr:first-child>td {
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
	font-family: 'Questrial', sans-serif;
	font-weight: 600;
}

.Calendar>tbody>tr>td>p {
	font-family: 'Montserrat', sans-serif;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	transition-duration: .2s;
	line-height: 45px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #F5D042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #FFFFFF;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0A174E;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
/*달력 끝*/

/* 지역 모달 창 시작 */

.area-sec{
	position: relative;
}

.category_2{
	font-weight: bold;
	border-bottom: 1px solid #efefef;
}
.category_2_detail{
	font-weight: normal;
	color: #333333;
	margin-left: 40px;
	border-bottom: 1px solid #efefef;
}

#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index:3000;
}

#modal .modal-window {
	background:#FFFFFF;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 500px;
	position: relative;
	height: 500px;
	overflow-y: auto;
}

#modal .modal-window .category_list{
	padding: 30px ;
	line-height: 40px;
}


#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;

}

#modal .title h2 {
	display: inline;
}

#modal .close-area {
	display: inline;
	float: right;
	padding: 30px;
	cursor: pointer;
	color: #333;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

/* 지역 모달 끝*/

/*편의시설 체크박스*/
input[type=checkbox] {
	cursor: pointer;
}

input[type=checkbox] {
	vertical-align: middle;
	padding-left: 5px;
}
/* label:before에 체크하기 전 상태 CSS */
input[type=checkbox] {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #efefef;
	border-radius: 4px;
	vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */
input#check_btn:checked {
	content: "";
	background-color: #3182f6;
	border-color: #3182f6;
	background-image: url('check_btn.png');
	background-repeat: no-repeat;
	background-position: 50%;
}
.amenitiesF{
	display: flex;
	flex-wrap: wrap;
}
/*편의시설 체크박스 끝*/
/* 요청사항 */
.memo{
	resize: none;
}
