html{width: 100%; height: 100%;}
body{width: 100%;height: 100%; display: flex; align-items: center;justify-content: center;flex-direction: column;}
.hidden{
	display: none;
}
.wrap{
    width: 100%;
}
.first_section{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/main_visual02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.form_area{
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color:  
    rgba(49, 131, 246, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 550px;

}
.join_form{
    color: white;
    font-weight: bolder;

}
label{
    color: white;
}
input[type="text"]{
    margin-top: 5px;
}
input[type="text"], input[type="password"] {
    border-radius: 5px;
    width: 200px;
    height: 20px;
}
input[type="button"], button{
    font-weight: bolder;
    border-radius: 7px;
    width: 70px;
    color: white;
    background-color: #3182f6;
    border: 1px solid rgba(0, 0, 0,0.2);
}
input[type="radio"]{
    width: 5px;
    height: 5px;
    margin-top: 5px;
}
#submitButton{
    border: 1px solid rgba(0, 0, 0,0.2);
    margin-top: 20px;

}
#sample6_extraAddress{
    width: 50px;
}
.alarming{
    margin-left: 20px;
    text-align: center;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    font-size : 10px;
}

.unset{
    all:unset;
}


.ani{
    animation: movingCheckBox 2s forwards;
  } 
  .checkBox{
    background-color: inherit !important;
    border: 0px solid rgba(0, 0, 0,0.2) !important;
  }
  .falseAction{
    animation: falseAction 1s forwards;
  }
  
  @keyframes movingCheckBox {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(-20px);
    }
  }
  
  @keyframes falseAction {
    10%{transform: translateX(1px);}
    20%{transform: translateX(-1px);}
    30%{transform: translateX(1px);}
    40%{transform: translateX(-1px);}
    60%{transform: translateX(1px);}
    70%{transform: translateX(-1px);}
    80%{transform: translateX(1px);}
    90%{transform: translateX(-1px);}
  
  }