<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/main/css/common.css}">
	<link rel="stylesheet" th:href="@{/main/css/sub.css}">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/hong/join_Page/css/css.css}">
</head>
<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
    <div class="wrap">
		<div class="sub-inner">
			<div class="form_area" data-aos="fade-up">
				<div class="logo_sub"data-aos="fade-up">
					<img th:src="@{/main/images/logo_origin.png}"data-aos="fade-up">
					<p data-aos="fade-up">여행, 일일이 찾는게 귀찮을 때 <strong>오시오!</strong> </p>
				</div>
				<form class="join_form" method="post" th:action="@{/user/join_business}" data-aos="fade-up">
					<label for="businessCategory">사업자분류</label>
					<br>
					<div class="row">
						<div style="width:50%;">
							<select name="businessCategory" class="businessCategory">
								<option value="숙소">숙소</option>
								<option value="식당">식당</option>
								<option value="카페">카페</option>
								<option value="렌터카">렌터카</option>
								<option value="기타">기타</option>
							</select>
						</div>
						<div style="width:50%;">
							<select name="businessCategory" class=" house">
								<option value="모텔">모텔</option>
								<option value="호텔">호텔</option>
								<option value="펜션">펜션</option>
								<option value="에어비엔비">에어비엔비</option>
								<option value="캠핑">캠핑</option>
							</select>
							<select name="businessCategory" class="hidden food">
								<option value="한식">한식</option>
								<option value="일식">일식</option>
								<option value="중식">중식</option>
								<option value="분식">분식</option>
								<option value="야식">야식</option>
							</select>
							<select name="businessCategory" class="hidden bakery">
								<option value="개인">개인</option>
								<option value="프랜차이즈">프랜차이즈</option>
								<option value="베이커리">베이커리</option>
								<option value="디저트">디저트</option>
							</select>
							<select name="businessCategory" class="hidden car">
								<option value="경형/소형">경형/소형</option>
								<option value="중형/대형">중형/대형</option>
								<option value="SUV/승합">SUV/승합</option>
							</select>		
							<select name="businessCategory" class="hidden another">
								<option value="회의실">회의실</option>
								<option value="파티룸">파티룸</option>
							</select>
						</div>
					</div>
					<label for="userid">아이디</label>
					<div class="row">
						<input type="text" value="" class="userid" id="userid" name="businessId" 
						placeholder="아이디*  (영문소문자/숫자, 4~16자)">
						<input type="button" class="userid_button" value="중복확인">
					</div>
					<span class="alarming hidden">*존재하는 아이디입니다.</span>
					<span class="alarming hidden">*영문자로 시작하는 6~20자의 숫자 또는 영어를 입력해주세요</span>
					<br>
					<label for="userpw">비밀번호</label>
					<br>
					<input type="password" value="" id="userpw" class="userpw" name="businessPassword" placeholder="비밀번호* (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자) ">
					<br>
					<span class="alarming hidden">영문, 숫자, 특수문자 포함 8~15자의 문자를 입력해주세요</span>
					<br>
					<!--<span class="alarming hidden">비밀번호를 입력해주세요</span>-->
					<label for="check_userpw">비밀번호 확인</label>
					<br>
					<input type="password" value="" class="check_userpw" id="check_userpw" placeholder="비밀번호 확인*">
					<br>
					<span class="alarming hidden">비밀번호가 일치하지 않습니다</span>
					<br>
					<label for="username">이름</label>
					<br>
					<input type="text" name="businessName" class="username" id="userName" placeholder="이름*">
					<br>
					<br>
					<label for="useremail">이메일</label>
					<div class="row">
						<input type="text" name="businessEmail" class="email" id="useremail" placeholder="이메일*">
						<input type="button" value="인증번호" class="get_code" disabled>
					</div>
					<br>
					<div class="row">
						<input type="text" value="" class="check_code" placeholder="인증번호를 적어주세요" id="check_code">
						<input type="button" value="확인" class="check_code_button">
					</div>
					<span class="alarming hidden">잘못된 이메일 형식입니다</span>
					<span class="alarming hidden">인증번호를 확인해주세요</span><br>
					
					<label for="businessPhoneNumber">연락처</label>
					<br>
					<input type="text" name="businessPhoneNumber" class="userphonenumber" id="userphonenumber">
					<br>
					<span class="alarming hidden">"-"를 제외한 11자를 입력해주세요</span>
					<br>
					<label>가맹점명</label>
					<br>
					<input type="text" value="밥묵자" name="businessStoreName" class="business_store_name" >
					<br><br>		
					<label>대표자</label>
					<br>
					<input type="text" value="유태웅" name="businessrepresent" class="business_represent">
					<br><br>	
					<label>등록번호</label>
					<br>	
					<input type="text" value="8068800032" class="check_business_num" name="businessNumber">
					<br><br>	
					
					<label>등록일</label>
					<br>
					<div class="row">
						<input type="text" name="businessdate" id="" class="business_date" value="20150319">
						<input type="button" class="check_business" value="확인" onclick="onCheck()">
					</div>
					<span class="alarming hidden businessAlarming">잘못된 입력입니다</span>
					<br>
					<label for="sample6_postcode">주소</label>
					<br>
					<div class="row">
						<input type="text" name="businessZipCode" id="sample6_postcode" placeholder="우편번호" readonly class="zipcode">
						<input type="button" class="postcodeCheckBox" onclick="sample6_execDaumPostcode()" value="주소찾기">
					</div>
					<div class="row">
						<input type="text" name="businessAddress" id="sample6_address" placeholder="주소" class="useraddress" readonly style="width: 50%;">
						<input type="text" name="businessAdditionalInfo" id="sample6_extraAddress"  readonly class="useradditionalinfo" style="width: 50%;">
					</div>			
						<input type="text" name="businessAddressDetail" id="sample6_detailAddress" placeholder="상세주소" class="useraddressdetail">	
					<button id="submitButton" type="button">사업자 회원가입</button>
				</form>
			</div>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/main/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/common.js}"></script>
<script type="text/javascript" th:src="@{/main/js/main.js}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111023863-1"></script>
<script>AOS.init({		duration: 1500,	  });</script>

<script th:src="@{/hong/join_business_Page/js/businessCheck.js}"></script>
<script th:src="@{/hong/join_business_Page/js/check_join.js}"></script>

</body>
</html>

			