<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사업자 가입페이지</title>
	<!-- header,footer -->
	<link rel="stylesheet" th:href="@{/main/css/common.css}">

	<link rel="stylesheet" th:href="@{/hong/join_business_Page/css/css.css}">
</head>
<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap">
		<section class="first_section">
			<div class="form_area">
				<form class="join_form" method="post" th:action="@{/user/join_business}">
					<label for="userid">아이디</label>
					<br>
					<input type="text" value="" class="userid" id="userid" name="businessId" placeholder="">
					<input type="button" class="userid_button" value="중복확인">
					<br>
					<span class="alarming hidden">존재하는 아이디입니다.</span>
					<br>
					<label for="userpw">비밀번호</label>
					<br>
					<input type="password" value="" id="userpw" class="userpw" name="businessPassword">
					<br>
					<span class="alarming hidden">영문, 숫자, 특수문자 포함 8~15자의 문자를 입력해주세요</span>
					<span class="alarming hidden">비밀번호를 입력해주세요</span>
					<br>
					<label for="check_userpw">비밀번호 확인</label>
					<br>
					<input type="password" value="" class="check_userpw" id="checkuserpw">
					<br>
					<span class="alarming hidden">비밀번호가 일치하지 않습니다</span>
					<br>
					<label for="username">이름</label>
					<br>
					<input type="text" name="businessName" class="username" id="username">
					<br>
					<label for="useremail">이메일</label>
					<br>
					<input type="text" name="businessEmail" class="email" id="useremail">
					<input type="button" value="인증번호" class="get_code" disabled>
					<br>
					<input type="text" value="" class="check_code" placeholder="인증번호를 적어주세요" id="check_code">
					<input type="button" value="확인" class="check_code_button">
					<br>
					<span class="alarming hidden">잘못된 이메일 형식입니다</span>
					<br>
					<span class="alarming hidden">인증번호를 확인해주세요</span>
					<br>
					<label for="business_phone_number">핸드폰번호</label>
					<br>
					<input type="text" name="businessPhoneNumbe" class="userphonenumber" id="businessPhoneNumbe">
					<br>
					<span class="alarming hidden">"-"를 제외한 11자를 입력해주세요</span>
					<br>
					<span>가맹점명</span>
					<br>
					<input type="text" value="밥묵자" name="businessStoreName" class="business_store_name" >
					<br>			
					<span>대표자</span>
					<br>
					<input type="text" value="유태웅" name="businessrepresent" class="business_represent">
					<br>
					<span>등록번호</span>
					<br>
					<input type="text" value="8068800032" class="check_business_num" name="businessNumber">
					<br>
					<span>등록일</span>
					<br>
					<input type="text" name="businessdate" id="" class="business_date" value="20150319">
					<input type="button" class="check_business" value="확인" onclick="onCheck()">
					<br>
				
					<label for="sample6_postcode">우편번호</label>
					<br>
					<input type="text" name="businessZipCode" id="sample6_postcode" placeholder="우편번호" readonly class="zipcode">
					<input type="button" onclick="sample6_execDaumPostcode()" value="주소찾기"><br>
				
					<input type="text" name="businessAddress" id="sample6_address" placeholder="주소" class="useraddress" readonly><br>
					<input type="text" name="businessAddressDetail" id="sample6_detailAddress" placeholder="상세주소" class="useraddressdetail">
					<input type="text" name="businessAdditionalInfo" id="sample6_extraAddress"  readonly class="useradditionalinfo">
					<br>
					<label for="hobby">취미</label>
					<br>
					<input type="text" id="hobby" name="userhobby" class="userhobby">
					<br>
					<button id="submitButton" type="button">제출</button>
				</form>
			</div>
		</section>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script th:src="@{/hong/join_business_Page/js/businessCheck.js}"></script>
<script th:src="@{/hong/join_business_Page/js/check_join.js}"></script>

</body>
</html>

			