<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사업자 정보 요청</title>
	<link rel="stylesheet" th:href="@{/hong/join_kakao_Page/css/background.css}">
	<link rel="stylesheet" th:href="@{/hong/join_kakao_Page/css/frame.css}">
	<link rel="stylesheet" th:href="@{/hong/join_kakao_Page/css/join_kakao_Pageform.css}">
</head>
<body>
	<section class="container">
		<div class="join_kakao_form">
			<span>아이디</span>
			<br>
			<input type="text" value="" class="userid">
			<input type="button" value="중복체크" class="userid_button">
			<br>
			<label for="">
				<input type="text" id="sample6_postcode" placeholder="우편번호">
				<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
			</label>
			<input type="text" id="sample6_address" placeholder="주소"><br>
			<input type="text" id="sample6_detailAddress" placeholder="상세주소">
			<input type="text" id="sample6_extraAddress" placeholder="참고항목">
			<input type="button" value="next">
		</div>
		<!--<div th:replace="hong/background :: background"></div>-->

	</section>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


<script th:src="@{/hong/join_kakao_Page/js/businessCheck.js}"></script>
<script th:src="@{/hong/join_kakao_Page/js/validator.js}"></script>
<script th:src="@{/hong/join_kakao_Page/js/addressAPI.js}"></script>
<script th:src="@{/hong/join_kakao_Page/js/checkid.js}"></script>

</body>
</html>
