<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/main/css/common.css}">
	<style>
		#wrap {
			margin: 150px auto;
			border: 1px solid black;
			width: 1200px;
			height: 1000px;
		}

		.total_section {
			border: 1px solid black;
			box-sizing: border-box;
			padding: 10px;
			display: flex;
			justify-content: space-between;
		}

		.main_section {
			border: 1px solid black;
			width: 850px;
			height: 500px;
		}

		.sub_section {
			border: 1px solid black;
			width: 320px;
			height: 500px;
		}
	</style>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">
		<div class="total_section">
			<div class="main_section">
				<div class="title_section">
				</div>
				<form th:action="@{/Bboard/modifyOk}" method="post">
					<div class="shot_info">
						<select name="maa1">
							<option>오전&nbsp;</option>
							<option>오후&nbsp;</option>
						</select>
						<select name="open_time" class="time">
							<option value="시작">시작 시간</option>
						</select>
						<select name="maa2">
							<option>오전&nbsp;</option>
							<option>오후&nbsp;</option>
						</select>
						<select name="close_time" class="time">
							<option value="마감">마감 시간</option>
						</select>
					</div>
					<div class="main content">
						<textarea name="contnet" value=""></textarea>
					</div>
					<div class="free_service">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
						<input type="checkbox">
					</div>
					<div class="photo_zone">
						<input type="file">
					</div>
			</div>
			<div class="sub_section">
				<input type="submit">
			</div>
			</form>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script>
	const date = ["01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00"]
	const time = document.getElementsByClassName("time")

	for (let i of time) {
		for (let key of date) {
			let option = document.createElement('option');
			option.value = key
			option.innerHTML = key
			i.appendChild(option);
		}
	}

</script>




























</html>