.wrap{width: 100vw; height: 80vh;}
.hidden {
  display: none;
}
.form_area {
  width: 45%;
  margin: 0 auto;
}

.login_form {
  padding: 50px 0 40px 0;
}

.login_form > div {
  border-bottom: 1px solid #efefef;
  text-align: left;
  padding: 20px 20px 10px 20px;
}

.row {
  display: flex;
}

input[type="text"],
input[type="password"] {
  border-radius: 5px;
  border: 1px solid#efefef;
  padding: 10px;
  width: 100%;
}

input[type="radio"] {
  width: 5px;
  height: 5px;
  margin-top: 5px;
}
#submitButton {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
#sample6_extraAddress {
  width: 50px;
}
.alarming {
  margin: 10px 0 0 10px;
  color: #707070;
  font-size: 12px;
}

.unset {
  all: unset;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0 5px 0;
}

[type="radio"],
span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
  margin-bottom: 7px;
}

[type="radio"]:checked {
  border: 0.5em solid #06295a;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #06295a;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#submitButton {
  width: 100%;
  background-color: #3182f6;
  color: #fff;
  padding: 15px 0;
  border-radius: 10px;
}

/* Global CSS */
fieldset {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 40px 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.ani {
  animation: movingCheckBox 2s forwards;
}
.checkBox {
  background-color: inherit !important;
  border: 0px solid rgba(0, 0, 0, 0.2) !important;
}
.falseAction {
  animation: falseAction 2s forwards;
}

@keyframes movingCheckBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes falseAction {
  10% {
    transform: translateX(1px);
  }
  20% {
    transform: translateX(-1px);
  }
  30% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
  70% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  90% {
    transform: translateX(-1px);
  }
}

/* 로딩 css */
.loader {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0cf;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.loader {
  border-top-color: transparent;
}

.loader::after {
  display: block;
  border-color: transparent;
  animation: spin 1.25s infinite linear reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.choose{
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
}
.choose>div::before{
  content: "*";
}
.choose>div{
  color: rgb(121, 121, 121);
  position: relative;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.choose>div:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(49, 131, 246, 1);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: width 0.3s ease-out;
}

.choose>div:hover:after {
  width: 100%;
}
.row{
  margin-bottom: 30px;
}
.color{
  color: black !important;
}

.finished{
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.finished:hover{
  animation : color 1s ease-in-out forwards;
}
@keyframes color{
  from{}to{
    font-weight: bolder;
    color: white;
    background-color: rgba(49, 131, 246, 1);
  }
}