@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
	min-height: 100vh;
}
	.rate {
		display: inline-block;
		border: 0;
		margin-right: 15px;
	}

	.rate>input {
		display: none;
	}

	.rate>label {
		float: right;
		color: #ddd
	}

	.rate>label:before {
		display: inline-block;
		font-size: 1rem;
		padding: .3rem .2rem;
		margin: 0;
		cursor: pointer;
		font-family: FontAwesome;
		content: "\f005 ";
	}

	.rate .half:before {
		content: "\f089 ";
		position: absolute;
		padding-right: 0;
	}

	.rate input:checked~label,
	.rate label:hover,
	.rate label:hover~label {
		color: #3182f6 !important;
	}

	.rate input:checked+.rate label:hover,
	.rate input input:checked~label:hover,
	.rate input:checked~.rate label:hover~label,
	.rate label:hover~input:checked~label {
		color: #3182f6 !important;
	}

.total_section{
	position:relative;
	padding: 70px 0;
}
	
.top_profile{
	width:100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	
}
	
	
.photo_zone_wrap{
	width: 30%;
}
.photo_zone{
	width: 200px;
	height: 200px;
    border-radius: 70%;
    overflow: hidden;
}

.photo_zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_zone{
	width: 70%;
	display: flex;
	align-items: center;
}
.profile_zone div{
	font-size: 24px;
	font-weight: bold;
}
.profile_zone p{
	margin-bottom: 10px;
}

.profile_zone div::after {
  content: "|";
  padding: 0 20px;
}

.profile_zone div:last-child::after {
  content: "";
}

.profile_zone p{
	font-size: 16px;
	font-weight: normal;
}

.profile_zone span{
	height: 30px;
}

.title_section_wrap{
	padding-bottom: 100px 0 ;
}		
.title_section{
	display: flex;
	justify-content: space-between;
}
.title_section .title_section_in {
	width: 48%;
}
.title_section .title_section_in div{
	border-bottom: 1px solid #333;
	padding: 30px 0;
	color:#909090
}
.title_section .title_section_in label{
	color:#909090;
}

.title_section .main_content{
	width: 100%;
	border-bottom: 1px solid #333;
	padding: 20px 0;
	color:#909090
}


.title_section p{
	font-weight: bold;
	margin-bottom: 10px;
}


.main_content textarea{
	width: 100%;
	resize: none;
	outline:none;
	border: none;
	color:#909090;
	font-size: 16px;
	margin-bottom: -24px;
	
}


.reply{
	margin:30px 0;
	width: 100%;
	border-radius: 10px;
}
.reply input{
	background: none;
	font-size: 16px;
	font-weight: bold;
}
.reply textarea{
	background-color: #efefef;
	width: 100%;
	border: none;
	outline: none;
	height: 150px;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
}


.reply2 textarea{
	background-color: #efefef;
	width: 100%;
	border: none;
	outline: none;
	height: 150px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 5px;
}


.info{
	border-bottom: 1px solid #efefef;
	padding: 30px 0;
}
.info2{
	padding: 30px 0;
}
.modify_btn{
	position:absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	color: #3182f6;
	border-bottom: 1px solid #3182f6;
}

.reply .btn_wrap{
	text-align: right;
	margin-top: 20px;
}

.reply .btn_wrap a{
	background-color: #efefef;
	padding: 10px 20px;
	border-radius: 10px;
}

.reply .btn_wrap .finish{
	background-color: #3182f6;
	color: #fff;
}

.noreply{
	opacity: 0.5;
}



.modi_tit{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.shot_info select{
	border: none;
	font-size: 16px;
	font-weight: bold;
}

.file_modify{
	display: inline-block;
}

.file_modify a{
	font-size: 12px;
}

.photo_select{
	width: 100px;
	height: 100px;
	border: 1px dotted #707070;
	margin:0 auto;
	text-align: center;
	border-radius: 10px;
}

.photo_select a{
	display: block;
	font-size: 20px;
	border: 1px solid #333;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin:40px 0 0 40px;
	
}

.thumbnail{
	width: 100px;
	height: 100px;
	margin:0 auto;
	text-align: center;
	border-radius: 10px;
}

#file0name{
	display: none;
}

.free_service label{
	margin-right: 10px;
	
}

.submit_btn{
	cursor: pointer;
	float: right;
	border: none;
	padding: 10px 50px;
	border-radius: 10px;
	background-color: #3182f6;
	color: #fff;
}

/* 덧글 css */
.reply_area{
	margin-bottom: 5px;
}
.replies{
	margin-top: 30px;
}
.liundefined{
}
.replyContent{
	padding: auto;
	margin-top: 15px;
	margin-left: 10px;
	font-weight: bolder;
}


/* 덧글 cc 끝 */
/* 페이지네이션 */
.page{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nowPage,.changePage{
	text-align: center;
	border: 1px solid black;
	height: 30px;
	width: 25px;
	font-weight: bolder;
	line-height: -5px;
	font-size: 18px;
}
.nowPage{
	background-color: #333;
	color: white;
}



/* 페이지네이션 끝 */