<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.oco.mapper.FileMapper">
	  <!--insertFile-->	 
	  <insert id="insertFile">
		  insert into file values(#{system_name},#{org_name},#{board_num})
	  </insert>
	  
	 <select id="getFiles">
		 select * from files where board_num=#{board_num}
	 </select>
	 
	 <delete id="deleteBySystemname">
		 delete from files where system_name=#{sysyem_name}
	 </delete>
  </mapper>
