<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.oco.mapper.FileMapper">
	  <!--insertFile-->	 
	  <insert id="insertFile">
		  insert into Cfiles values(#{systemName},#{orgName},#{boardNum})
	  </insert>
	  
	 <select id="getFiles">
		 select * from Cfiles where board_num=#{boardNum}
	 </select>
	 
	 <delete id="deleteBySystemname">
		 delete from Cfiles where system_name=#{sysyemName}
	 </delete>
  </mapper>
