<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oco.mapper.ReservationMapper">
	
	
	<insert id="insertReservation">
		insert into user_requests (category,address,request_type,reg_date,personnel,fuel,cost,amenities,memo,user_id,business_id)
		values(#{category},#{address},#{requestType},#{regDate},#{personnel},#{fuel},#{cost},#{amenities},#{memo},#{userId},#{businessId})
	</insert>
	
	
	<update id="updatereservation">
		update user_requests set category=#{category}, address=#{address}, request_type=#{requestType},
		reg_date=#{regDate}, personnel=#{personnel}, fuel=#{fuel}, cost=#{cost}, amenities=#{amenities}, memo=#{memo}
		where request_num=#{requestNum}
	</update>
	
	<update id="proposal">
		update user_requests set business_id=#{loginUser} where request_num=#{requestNum}
	</update>
	
	<delete id="deletereservation">
		delete from user_requests where request_num=#{requestNum}
	</delete>
	
	<select id="getReservationList">
		select * from user_requests where user_id=#{loginUser}
	</select>
	
	<select id="getAllList">
		select * from user_requests where
		<if test="category != null">category like('%${category}%') </if> and
		<if test="area != null ">address like('%${area}%') </if> order by request_num desc limit #{startRow},#{amount}
	</select>	
	
	<select id="getTotal">
		select count(*) from user_requests where request_num > 0
	</select>
	
	<select id="findByNum">
		select * from user_requests where request_num=#{requestNum}
	</select>

	<select id="findByUser" resultType="ReservationDTO">
    select * from user_requests where user_id=#{userId}
	</select>

</mapper>