<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>내 여행</title>
	<link rel="icon" sizes="96x96" th:href="@{/main/images/favi.svg}">
</head>
<link rel="stylesheet" th:href="@{/main/css/common.css}">
<link rel="stylesheet" th:href="@{/main/css/sub.css}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/planner/css/get.css}">
<script src="https://kit.fontawesome.com/81ba6ca618.js" crossorigin="anonymous"></script>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div class="wrap">
		<th:block th:replace="~{layout/subVisual::subVisual}"></th:block>
		<div class="sub-inner">
			<h2>상세조회</h2>
			<!-- 이미지 지도를 표시할 div 입니다 -->
			<div id="map" style="width:100%;height:350px;"></div>
			<div class="sec-con">
				<h4>날짜</h4>
				<input type="text" class="calendars" name="scheduleDate" th:value="${planner.scheduleDate}" readonly>
			</div>
			<div class="travel_title">
				우리의 여행지
			</div>
			<div class="list">
				<input type="hidden" name="storeName" class="storeName" size="50" maxlength="50"
					th:value="${planner.storeName}" readonly>
				<input type="hidden" name="addr" class="addr" size="50" maxlength="50" th:value="${planner.addr}"
					readonly>
				<input type="text" name="storeNames " class="storeNames" size="50" maxlength="50"
					th:value="${planner.storeName}" readonly>
			</div>
			<textarea class="memo" name="memo" id="memo" th:value="${planner.memo}"
				readonly>[[${planner.memo}]]</textarea>
			<input type="hidden" class="coords" th:value="${planner.coords}">
			<form name="plannerForm" method="post" th:action="@{/planner/plannerremove}">
				<input name="scheduleNum" th:value="${planner.scheduleNum}" type="hidden">
				<div class="btn">
					<a href="javascript:document.plannerForm.submit()" class="remove-btn">삭제</a>
					<a th:href="${'/planner/plannerlist'}" class="list-btn">목록</a>
				</div>
			</form>
		</div><!--.sub-inner-->
	</div><!--.wrap-->
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6a441b4c0d02c9d68eb709c125831254&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" th:src="@{/main/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/main/js/common.js}"></script>
<script type="text/javascript" th:src="@{/main/js/main.js}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111023863-1"></script>
<script th:inline="javascript">

	AOS.init({
		duration: 1200,
	});
	const linePath = [];
	const latng = $(".coords").val().split("/,");
	const result = [];
	const storeName = $(".storeName").val().split(",");
	const addr = $('.addr').val().split(",")
	console.log("storeName", storeName)
	//latng.pop();
	console.log("latng", latng)
	//const x = $(".coords").val().split("/")[0].split(",")[1]
	//const y = $(".coords").val().split("/")[0].split(",")[0]
	for (let i = 0; i < latng.length; i++) {
		const xy = latng[i].split(", ");
		f1(xy, i)
	}
	function f1(xy, i) {
		console.log("xy", xy);
		const x = xy[1].split(")")[0];
		const y = xy[0].split("(")[1];
		console.log("x:", x, "y:", y);
		const coords = new kakao.maps.Coords(x, y);
		const latlng = new kakao.maps.LatLng(y, x);
		console.log("latlng :", latlng)
		console.log("coords :", coords)
		f(latlng)
	}

	// 주소로 좌표를 검색합니다
	// 정상적으로 검색이 완료됐으면 
	function f(latlng) {
		console.log(latlng)
		let mapContainer = document.getElementById('map'), // 지도를 표시할 div  
			mapOption = {
				//center: new kakao.maps.LatLng(latng[0]), // 지도의 중심좌표 !!!바로 타임리프문으로 값을 넣어라!!
				center: latlng,
				level: 6 // 지도의 확대 레벨
			};
		let map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		result.push(latlng)
		console.log("result", result)
		// 마커를 표시할 위치와 title 객체 배열입니다 
		// 마커 이미지의 이미지 주소입니다
		let imageSrc = "https://cdn-icons-png.flaticon.com/512/6924/6924814.png";
		for (let i = 0; i < result.length; i++) {
			// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
			const positions = [
				{
					content: "<div class='name'>" + storeName[i] + "</div>" +
					"<div class='addr'>" + addr[i] + "</div>",
					latlng: result[i]
				}
			];

			console.log("positions :", positions)
			for (let j = 0; j < positions.length; j++) {
				// 마커 이미지의 이미지 크기 입니다
				let imageSize = new kakao.maps.Size(35, 40);

				// 마커 이미지를 생성합니다    
				let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
				// 마커를 생성합니다
				var marker = new kakao.maps.Marker({
					map: map, // 마커를 표시할 지도
					position: positions[j].latlng, // 마커를 표시할 위치
					image: markerImage // 마커 이미지 
				});
				// 마커에 표시할 인포윈도우를 생성합니다 
				var infowindow = new kakao.maps.InfoWindow({
					content: positions[j].content // 인포윈도우에 표시할 내용
				});

				// 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
				// 이벤트 리스너로는 클로저를 만들어 등록합니다 
				// for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
				kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
				kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
			}
		}


		console.log("마커 :", marker.getPosition())
		linePath.push(marker.getPosition())
		console.log("linePath :", linePath)
		var polyline = new kakao.maps.Polyline({
			path: linePath, // 선을 구성하는 좌표배열 입니다
			strokeWeight: 5, // 선의 두께 입니다
			strokeColor: '#ffd700', // 선의 색깔입니다
			strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
			strokeStyle: 'solid' // 선의 스타일입니다
		});
		// 지도에 선을 표시합니다 
		polyline.setMap(map);
	}

	function makeOverListener(map, marker, infowindow) {
		return function () {
			infowindow.open(map, marker);
		};
	}

	// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
	function makeOutListener(infowindow) {
		return function () {
			infowindow.close();
		};
	}
</script>

</html>