


.btn_area{
  margin-top: 30px;
  margin-bottom: 60px;
  border:none;
  padding: 10px;
}

th,tr{
border: 1px solid black;
}

th{

background-color: #3182f6;
color: white;
text-align: center;
vertical-align : middle;
}

.a_row{
border-bottom-color: white;
}

td{
padding: 15px;
}


select{
  padding: 5px 5px 5px 5px;
  text-align: center;
}

select:focus {
border-color: #aaa;
box-shadow: 0 0 1px 2px #3182f6;
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: #222;
outline: none;
}

.plus, .back{
display: inline-block;
box-sizing: border-box;
background-color: #3182f6;
color: white;
border-radius: 3px;
margin-right: 5px;
padding: 5px 10px 5px 10px ;
}

textarea{
border: none;
width: 598px;
height: 103px;
min-height: 8rem;
overflow-y: hidden;
  resize: none;
  outline: none;
}

div{
margin: 5px 5px 5px 5px;
padding: 5px;
}

div>a{
background-color: #3182f6;
box-sizing: border-box;
border-radius: 3px;
color: white;
padding: 5px 10px 5px 10px ;
}

.hidden{
  display: none;
}

/* 실패 액션 */
.falseAction {
animation: falseAction 1s forwards;
}

@keyframes falseAction {
10% {
  transform: translateX(1px);
}
20% {
  transform: translateX(-1px);
}
30% {
  transform: translateX(1px);
}
40% {
  transform: translateX(-1px);
}
60% {
  transform: translateX(1px);
}
70% {
  transform: translateX(-1px);
}
80% {
  transform: translateX(1px);
}
90% {
  transform: translateX(-1px);
}
}
.board_title{
width: 100%;
}
.thumbnail{
float: left;
max-width: 150px;
max-height: 150px;
}
.plus, .back{
font-size: larger;
font-weight: bolder;
position: relative;
}
.plus, .back:hover {
color: rgb(0, 0, 0);
}

.plus:after, .back:after {
content: "";
width: 0%;
height: 3px;
background-color: rgba(49, 131, 246, 1);
transition: width 0.3s ease-out;
bottom: -3px;
}

.plus:hover::after, .back:hover::after {
width: 100%;
position: absolute;
left: 0px;
bottom: -5px;
}
.plus:hover, .back:hover{
transform: scale(1.01);
}
.plus:hover, .back:hover{
color: #ffffff;
}

.enroll_area{
position: relative;
}