@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');

.topic_area{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 170px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.topic{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: -10px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    flex-grow: 1;
}
.topic:nth-child(1):after{
}
.topic:nth-child(2):after{
}
.topic:nth-child(3):after{
}



body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.wrap{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
article>ul{
    border: 1px solid black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
li{
    border : 1px solid black;
}
.addList{
}
article{
    height: 100%;
    width: 50%;
}

.topic_category{
    margin: 5px;
    font-family: 'Gothic A1', sans-serif;
    font-size: smaller;
}
.topic_category>span{
}